@media (max-width: 900px) {
    
    .container {
        gap: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 6%
    }

    .card {
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgb(80, 79, 79);
        width: 200px;
        border: none;
        
    }

    .conteudoImg {
        border-radius: 5px;
        height: 120px;

    }

    .img-card {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: 100%;
    }

    .tituto-card {
        color: #F62F87;
        font-family: 'Dancing Script';
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .ingredientes-card {
        font-family: 'Montserrat', sans-serif;
        color: #522312;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }

    .preco-card {
        color: #522312;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
    }

    .comprar-card {
        cursor: pointer;
        color: #F62F87;
        font-weight: bold;
        border-radius: 4px;
        background: transparent;
        font-size: 16px;
        padding: 5px;
        border: none;
        width: 80%;
        margin-left: 10%;
    }

    .comprar-card:hover {
        transform: scale(1.2);
        color: #FFC6D9;
    }




    /* cards secundarios */

    .container2 {
        gap: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }
    .card2 {
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgb(80, 79, 79);
        width: 200px;
        border: none;
        
    }

    /* cards terciarios */

    .container3 {
        gap: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 10%
    }
    .card3 {
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgb(80, 79, 79);
        width: 200px;
        border: none;
        
    }

    .container-salgados {
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
        
    }


    .indisponivel {
        color: #F62F87;
        font-family: 'Dancing Script';
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .quantity-input {
        all: initial;
        width: 20vh;
        border: none;
        color: #F62F87;
        outline: none; 
        font-family: 'Dancing Script';
        font-size: 20px;
    }
    
    .quantity-input:active {
        border: none;
        outline: none;
    }

    .quantity-input::placeholder {
        color: #F62F87;
    }


    .confirm-button {
        height: 27px;
        width: 11vh;
        font-family: 'Dancing Script';
        font-size: 20px;
        border-radius: 12px;
        border: none;
        color: #F62F87;
        background: #FFC6D9;
    }
}